tmp/*
!tmp/.keep
/out-tsc

node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*
.idea

*.env

coverage

.~lock*
simulator/config.json

*.bak

!infrastructure/docker/dev/.env
!infrastructure/podman/dev/.env